<!-- <p>mens works!</p> -->
<!-- button.component.html -->
<!-- <div (click)="toggleOverlay()" >Click me</div>
<h1>hai</h1>
<h1>hai</h1>
<h1>hai</h1>
<h1>hai</h1>
<h1>hai</h1>
<h1>hai</h1> -->

<!-- overlay.component.html -->
<!-- <div class="overlay" *ngIf="isOverlayVisible">
    This is the overlay content.
    <h1>hai</h1>
    <h1>hai</h1>
    <h1>hai</h1>
    <h1>hai</h1>
    <h1>hai</h1>
<div  (click)="toggleOverlay1()">open</div>

  </div>

  <div class="overlay1" *ngIf="isOverlayVisible1">
    This is the overlay content.
    <h1>hai</h1>
    <h1>hai</h1>
    <h1>hai</h1>
    <h1>hai</h1>
    <h1>hai</h1>
<div  (click)="toggleOverlay()">cancel</div>
</div> -->


  
<!-- 
<div class="container">

  <div class="body">

    <div class="left">
      <div class="lefttop">
      <input type="firstname">
      <input type="lastname">
    </div>
      <input type="date">
       <input type="phoneno">

    </div>
<div class="right">

</div>

  </div>

</div> -->


